@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap") * {
  box-sizing: border-box;
}

:root {
  --primary-color: 47, 79, 79;
  --secondary-color: 176, 196, 222;
  --accent-color: 255, 165, 0;
  --text-color: 245, 245, 245;
}

html {
  background-color: rgba(var(--secondary-color), 0.5);
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  font-family: "Rubik", sans-serif;
  margin: 0;
  min-height: 100vh;
}

li {
  padding-bottom: 8px;
}

h3 {
  font-size: medium;
  color: rgba(var(--primary-color), 1);
}

a {
  text-decoration: none;
}

ul {
  line-height: 28px;
}

.sidebar-container {
  width: 30%;
}

.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background-color: rgba(var(--primary-color), 0.3);
  padding: 0 1in;
}

#profile-img {
  border-radius: 50%;
  width: 50%;
  height: auto;
}

.top {
  margin-bottom: 40px;
  text-align: center;
}

.spacer {
  width: 5%;
}

.header-icons {
  opacity: 0.5;
}

.section-title {
  font-weight: 600;
  font-size: larger;
}

.content {
  width: 70%;
  padding: 0 0.5in;
}

.quotes {
  padding-top: 20px;
}

#quotes-title {
  font-weight: 600;
}

.quote {
  font-style: italic;
  margin-bottom: 20px;
}

#cv-container {
  padding: 15px 10px;
}

code {
  font-size: 18px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 90%;
    padding: 0 40px;
  }

  .sidebar-container {
    width: 100%;
  }

  body {
    flex-direction: column;
  }

  .quotes {
    display: none;
  }
}
